<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The 90th Minute</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <h1>WELCOME to The 90th Minute</h1>
  <h2>Here we can discuss about football</h2>
  <% if (isAuth) { %>
    <a href="/auth/log-out">Log out</a>
  <% } else { %>
    <a href="/auth/log-in">Log in</a>
  <% } %>

  <h2>Want to see who and when send a message? <a href="/membership">Join the club</a></h2>

  <% if (isAuth) { %>
    <a href="/new-message">Create New Message</a>
  <% } %>

  <% if (messages) { %>
    <% for(const message of messages) { %>
      <article>
        <h3>Title: <%= message.title %></h3>
        <p><%= message.content %></p>
        <% if (isAuth) { %>
          <h5>Author: <%= message.author %>, Date: <%= formatTimestamp(message.publish_date) %></h5>
        <% } else { %>
          <h5>Author: Anonymous, Date: - </h5>
        <% } %>
        
        <% if (isAdmin) { %>
          <form action="/message" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="id" value="<%= message.id %>">
            <button type="submit">Delete</button>
          </form>
        <% } %>
      </article>
  <% }} %>
</body>
</html>